.catalog-container{ width:90px; height:70px; display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    overflow-y: hidden;
    justify-content:flex-start;
    align-items:flex-start;
    gap:20px;

    margin:0px auto ;
    padding:20px;

} .catalog-container .topic{ flex-shrink:0; width:20vW;height:100%;
    position:relative;
    overflow:hidden;
    transform-origin:center;
    transform:perspective(800px) rotateY(28deg);
    transition:0.5s;

}.catalog-container .topc img{ border-radius: 5px; width:100%; height:100%; object-fit:cover; transform:none;display:block; transition: opacity 0.5s;border: 5px solid black; }
.details-overlay{ 
    top:0;
    left:0;
    width:100%;
    height:100%;background:rgba(0,0,0, 0.7);
color:white; display:flex;
flex-direction:center;
justify-content:center;
align-items:center;
text-align:center;
opacity:0;
transition: opacity 0.5s;
box-sizing:26px;
font-family:"Agency";
border:5px solid black;
} .details-button:hover{background-color : #4e8339;} .topic:hover{transform:perspective(900px)rotateY(0deg);opacity:1;}
.topic:hover img{ opacity: 0.5s}
.topic:hover .details-overlay{opacity:1; margin-left: -4px;}