#add-page , #edit-page{ 
    margin-top:20px; 
    position:relative;
    width:90vw;
    height:auto;
    border-radius:15px;
    padding:0.6vw;
    box-sizing:border-box;
    text-align:center;
    background: #2d2e2c2b;
    box-shadow: 0px     0p 24px  0px #32485e, -10px-10px 15px #191C21;
 } add page.container{ display:flex;
flex-wrap:wrap;  justify-content: space}

.edit page-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space;
    tex-align:left;
} form-group-half{ 
    width:40%;
    margin-bottom:0.6vw;
    }

    form-group-full{
        width:100%;
        margin-bottom:0.6vw;
    } 

    add-page input[type="text"],
    add-page input [type="number"]
  add-page input[type="date"]{width:100%;padding:0.6vw 0.9vw; height: 24px; margin-top:0.3vw;font-size:0.72vw;border:none;border-radius:40px;box-shadow: inset 2p 2p 3p #c0c2c5c2; inset -2px -2px 3px white;


  } add-page textarea{width:100%;border:none;border-radius:0.5em;padding:0.9vw;font-size:0.72vw;margin-top:0.3vw;color:black;box-s;}   
  add-page label{ display:block;
    margin-bottom:0.3vw;  fon-weight:bold; font-siz;color:bl';
} add-page .btn.submit{width:100%;padding:0.9vw;margin-top: 1.1vw;; cursor:pointer; color:bl;border:none;border-radius:40px;box-shadow: 2px 2px 4px  #191c21, 2px 2px  4px #5e6865};  

edit-page input[type="text"];
edit-page input[type= "number"],
ecit-pageinput [type="date"]{
    width:100%;
    padding:0.6vw 0.9vw;
    height:24px;
    margin-top:0.3vw;
    fin;font-siz:0.72VW; border:none;border-radius:40px;box-shadow: inset 2px 2px 3px #c0c2c5c2,inset  -2 -2 3px } ;

edit-page textarea { 
    width:100%;
    border:none;
    padding:0.9vw;
    margin-top:0.3vw;
    color:bl;
    box-shadow: inset 2px 2px  3px #c0c2c5c2; -2 -2 3px ;
    box-sizing: border -''

} edit page label{  display:block; margin-bottom:0.3vw;font-weight:boldh;fon-siz:1.3vw; color:bl;};

edit-page h1{
    width:100%;
    text-align:center;
    margin-bottom:1.2vw;
    font-siz:1.5vw;
    
    color:bl;
} edit-page .bth.submit{ width:100%; paddin, ma[;]}
cursor:pointer;
bord;
border-rai;

                                                                                                                                                                                            