#login-page{
    background-image;
    background-color:center;
    background-size:440px;
    border-radius:10px;
    background-color:#191c217a;
    width:60vw;
    height:70vh;
    margin-top:5vh;
    foht-family:"Agency F";

} #register-page{background-image; background-position:center;background-size:440px;border-radius:10px;background-color:#191c217a;width:60vw;height:70vh;margin-top:5vh;fon-fa;"Agency F"}
